<mat-card class="example-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>Servicio 1</mat-card-title>
  </mat-card-header>
<mat-icon></mat-icon>
  <mat-card-content>
    <p>Descripción del producto número 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus viverra turpis. Mauris cursus enim tortor, ac mollis risus semper vel. Mauris consectetur lectus in purus volutpat tempor.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="agendar__button">Agendar</button>
  </mat-card-actions>
</mat-card>
