
  <header class="header">
  <div class="header__profilepic">
    <div id="circle"></div>
  </div>

  <div class="header__navbar">

    <div class="header__navbarFlex">
    <p>Servicios</p>
    <p>Contacto</p>
    <p>Blog</p>
    <p>Precios</p>
      <p>Disponibilidad</p>
    </div>

  </div>

  <div class="header__title">
    <h1>Juana Rodríguez - Psicóloga Clínica</h1>
  </div>
  </header>

  <div class="container">
    <div id="grid">
  <aside class="contact">
    <home-contact></home-contact>
  </aside>
  <main class="mainContent">
    <h1>MAIN CONTENT</h1>
    <homecard></homecard>
  </main>
  <div class="chat">
    <home-chat></home-chat>
  </div>
  <footer class="footer">
    <H1>FOOTER</H1>
  </footer>
</div>
</div>
